body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #1a1a2e;
  color: #e0e0e0;
  margin: 50px; /* Margin reintroduced as per your requirement */
  padding: 0;
}

h1 {
  color: #e0e0e0;
  padding: 20px;
  text-align: center;
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(150, 150, 255, 1) 40%, rgba(0, 84, 255, 1) 60%, rgba(0, 212, 255, 1) 100%);
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content {
  background-color: #0f3460;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="file"] {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #55E6C1;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  opacity: 0.8;
}

.users-list {
  margin-top: 20px;
}

.users-list ul {
  list-style: none;
  padding: 0;
}

.users-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #16213e;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.users-list li img.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.profile-pic {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.table-actions {
  display: flex;
  gap: 10px;
}

.table-actions .button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.user-details {
  display: flex;
  gap: 10px;
}

.table-actions .delete {
  background-color: #eb3b5a;
  color: #fff;
  border-radius: 15px;
  height: 35px;
}

.table-actions .edit {
  background-color: #82589F;
  color: #fff;
  border-radius: 15px;
  height: 35px;
  width: 76px;
}

.table-actions a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.table-actions a:hover {
  text-decoration: underline;
}

.table-actions .delete:hover {
  opacity: 0.8;
}

.table-actions .edit:hover {
  opacity: 0.8;
}

.footer {
  background-color: #16213e;
  color: #e0e0e0;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.error {
  color: red;
  font-size: 12px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  body {
    margin: 20px; /* Smaller margin for smaller devices */
  }

  .main, .content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  form, .users-list li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .users-list li {
    flex-direction: column;
    text-align: center;
    
  }

  .table-actions {
    flex-direction: column;
  }

  .table-actions a, .table-actions .button {
    width: 100%;
  }

  .profile-pic {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  body {
    margin: 10px; /* Even smaller margin for mobile devices */
  }

  h1 {
    font-size: 10px; /* Smaller font size for header on very small screens */
  }
}
